body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 0px 166px;
}
/*MAIN MENU*/
.intro {
    background-image: url(bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro_line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*TOP STRING*/
.nav-t{
    color: #ffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 30px;
    border-top: 2px solid #ffff;
    transition: color .2s linear;
}
.nav-t_span{
    color: #FF7400;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 30px;
    border-top: 2px solid #FF7400;
}
.nav-t:hover {
    color: #FF7400;
    border-top: 2px solid #FF7400;
}
.cart{
    position: relative;
    width: 15px;
    size: 15px;
    padding-right: 5px;
    border-right: 1px solid #ffff;
    height: 50px;
}
.img-p{
    position: relative;
    top: 12px;
    width: 25px;
    height: 25px;
    left: -10px;
}
.number{
    color: #ffff;
    text-decoration: none;
    font-weight: 700;
    transition: color .2s linear;
}
.number:hover{
    color: #FF7400;
}
.phone{
    color: #ffff;
}
.order{
    background-color: #FF7400;
    color: #ffff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    transition: color .2s linear;
}
.order:hover{
    color: #FF7400;
    background-color: #424242;
}
/*MIDLE INTRO*/
.header_midle{
    position: relative;
}
.header-up{
    color:#FF7400;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tinos', serif;
    
    position: absolute;
    text-align: center;
    margin-top: 300px;
}
.header-down{
    color:#FF7400;
    font-size: 42px;
    font-weight: 250;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tinos', serif;

}

.header_subdown{
    color:#656363;
    font-size: 24px;
    top: 130px;
    font-family: 'Open Sans', sans-serif;
}

.header_subdown:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 91px;
    background-color: #656363;
    top: 132px;
    left: -1px;
}
.header_subdown:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 91px;
    background-color: #656363;
    top: 132px;
    left: 360px;
}
.hdr-btn{
    position: relative;
    top: 30px;
    background-color: #FF7400;
    padding: 14px 14px;
    color: #ffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: 500;
    transition: .2s linear;
}
.hdr-btn:hover{
    color: #FF7400;
    background-color: #424242;
}
/*CARD*/
.cards_holder{
    position: relative;
    display: grid;
    grid-row-gap: 10px;
    align-content: stretch;
    margin-left: 1100px;
    margin-top: 20px;
}
.cards{
    background-color: #ffffff;
    box-shadow: 10px 10px 40px 20px #00000031 inset;
    width: 63%;
    padding: 0px 10px;
}
.card_img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.cards_img{
    width: 87px;
    height: 87px;
}
.card_title{
    color: #2C2C2C;
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tinos', serif;
}
.card_title span{
    color: #BC9060;
}
.card_desc{
    text-align: center;
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tinos', serif;
    color: #656363;
}
